
.fortune-label {
    font-size: 16px;
    font-family: Monospace;
    color: #ffffff;
    /* Pale, light grayish arctic blue A9ECF9 */
    background-color: rgba(0,0, 0,0.90);
    border-radius: 5px;
    padding: .5em;
}

.fortune-label-black {
    font-size: 16px;
    font-family: Monospace;
    color: #eeeeee;
    background-color: #000000;
    border-radius: 5px;
    padding: .5em;
}
